.pad-zero{
    padding: 0px !important;
}
.img-banner{
    width:100%;
}
.banner-bottom{
    width:100%;
    margin-top: -2em;
}
.main-banner {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-family: Quicksand;
    color: #ffffff;
  }
.main-banner h1{
  font-size: 35.5px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
.main-banner p{
 font-size: 22.5px;
}
.main-banner button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #de6c17;
    border-radius: 5px;
    font-family: Quicksand;
    margin-top: 30px;
}
.wrapper{
    margin: auto;
    text-align: center;
    margin-bottom: 31px;
}
.wrapper h2{
    color: #36413c;
    line-height: normal;
    font-family: Quicksand;
    font-size: 35.5px;
}

.wrapper p{
    font-family: Quicksand;
    color: #5e6e66;
}
.sub-div{
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
}
.mask{
    margin: 35px 15px 0 60px;
    padding: 0 0 13.5px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0.5px rgb(0 0 0 / 18%);
    background-color: #ffffff;
}
.mask h1{
    margin: 12.5px 91.5px 5px 12.5px;
    font-family: Quicksand;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #36413c;
}
.mask-para{
    margin: 5px 12.5px 10px;
    font-family: Quicksand;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #5e6e66;
}
.mask-opt{
  cursor: pointer;  
  margin: 10px 4.5px 3px 12.5px;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #de6c17;
}
.mask img{
    border-radius: 5px 5px 0px 0px;
    width: inherit;
}
@media only screen and (min-width: 1700px) and (max-width: 2000px) {
    .main-banner {
        margin-left: 10em !important;
        width: 40em;
    }
  }
@media only screen and (min-width: 1200px) and (max-width: 1700px) {
    .main-banner {
        margin-left: 10em;
        width: 40em;
    }
  }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main-banner {
        margin-left: 2em;
        width: 31em;
        top: 30% !important;
    }
    .wrapper {
        width: 40em;
    }
  }
  @media only screen and (min-width: 720px) and (max-width: 992px) {
    .main-banner {
        top: 26% !important;
        margin-left: 2em;
        width: 26em;
    }
    .main-banner button{
        margin-top: 0px !important;
    }
    .wrapper {
        width: 40em;
    }
  }  
  @media only screen and (max-width: 720px) {
    .img-banner {
        display:none;
    }
    .banner-bottom{
        display:none;  
    }
    .out-div{
        height: 20em;
        background-image: url("./assets/main-banner.png");
        position: relative; 
    }
    .main-banner{
        width: auto;
        top: 47%;
        left: 38%;
    }
    .main-banner h1{
        font-size: inherit;
    }
    .main-banner p{
        font-size: inherit;
    }
    .main-banner button{
        font-size: inherit;
    }
  }
  @media only screen and (min-width: 474px) {
    .mask {
        width: 431px;
    }
  }
  